.App {
  text-align: center;
  margin-top: 48px;
}

.App-link {
  color: #61dafb;
}

.chart-container {
  display:inline-block;
}

li.front-page-li{
  background-color: cornsilk;
  border: 1px solid black;
  display:inline-block;
  vertical-align: top;
  width: 50%;
}

li a {
  text-decoration: none;
  color: black;
}

.userTitle {
  padding: 2px;
}
